@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@theme {
  --color-primary: #856045;

  --font-display: "Cinzel", serif;
  --font-heading: "Cinzel Decorative", serif;
  --font-paragraph: "Nunito", sans-serif;
  --font-subheading: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}